
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="skarpt Logo"
    src="/assets/skarpt.png"
      />
</div>

<div class="main-div">
  <div @fade>
    <div class="welcome">
      <span class="welcomeTo">Welcome to</span>
      <span class="welcomeTo skarpt">skarptHub</span>
    </div>
  </div>
<div  @fadebutton class="container but-animation">
  <button  class="btn btn-info">sms+</button>
  <button  class="btn btn-danger">sensor temp</button>
  <button  class="btn btn-success">button 3</button>
</div>
</div>


